.Page {
    display: flex;
    flex-direction: column;
    min-width: 800px;
    height: 100%;

    &-header {
        position: relative;
        display: flex;
        flex-direction: row;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: " ";
            width: calc(100% - #{3*$logo-height});
            height: 2*$vu;
            -webkit-app-region: drag;
            cursor: move;
        }

        &-item {
            flex: 1;

            &:first-child {
                flex: 0;
                padding: 2*$vu 2*$vu $vu;
            }

            &:last-child {
                flex: 0;
            }
        }
    }

    &-content {
        flex: 1;
        padding: $vu 2*$vu;
        overflow: auto;
    }

    &-footer {
        padding: $vu 2*$vu 2*$vu;
    }
}
