.Patterns {
    list-style-type: none;
    margin-bottom: 2*$vu;

    &-item {
        display: flex;
        flex-direction: row;
        margin-bottom: 1px;

        &-title {
            flex: 1;
        }

        &-action {
            margin-left: ($vu/2);
        }

        &.is-selected {
            background: $color-light;
        }
    }
}
