.TracksControl {
    list-style-type: none;

    &-item {
        @extend %text-body;
        display: flex;
        flex-direction: row;
        margin-bottom: 1px;

        &-column {
            padding-right: ($vu/2);

            &:first-child {
                flex: 1;
                white-space: nowrap;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        &.is-selected {
            background: $color-light;
        }
    }
}
