.Tracks {
    display: flex;
    flex-direction: row;
    margin-bottom: 2*$vu;

    &-control {
        flex: 0 0 auto;
        width: $left-column-width;
    }

    &-grid {
        flex: 1;
        padding: 0 2*$vu;
    }

    &-master {
        flex: 0 0 auto;
        width: $right-column-width;
    }
}
