// box-sizing reset
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

// general styles
* {
    margin: 0;
    padding: 0;
    user-select: none;
}

* > :first-child {
    margin-top: 0 !important;
}

* > :last-child {
    margin-bottom: 0 !important;
}

html,
body {
    height: 100%;
}
