%button-reset {
    display: block;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: 0;
}

%button-base {
    @extend %button-reset;
    text-align: center;

    &:hover,
    &:focus {
        background: $color-light;
    }

    &:disabled {
        color: $color-neutral;

        &:hover,
        &:focus {
            background: transparent;
        }
    }
}

%button-heading {
    @extend %button-base, %text-heading-default;
    line-height: $logo-height;
}

%button-default {
    @extend %button-base, %text-body;
    padding: 0 2*$vu;
    font-size: $font-size-default;
    line-height: calc(#{$line-height-default} - #{2*$border-size});
    color: $color-darkest;
    border: $border-default;

    &:hover,
    &:focus {
        border-color: $color-neutral;
    }

    &:disabled {
        border-color: $color-neutral;
    }
}

%form-field {
    display: block;
    width: 100%;
    padding: 0 ($vu/2);
    height: $line-height-default;
    border: $border-light;
    outline: none;

    &:hover,
    &:focus {
        border-color: $color-neutral;
    }

    &:disabled {
        /* */
    }
}
