%button-reset {
    display: block;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: 0;
}

%button {
    @extend %button-reset, %text-heading-default;
    line-height: $logo-height;
    text-align: center;

    &:hover,
    &:focus {
        background: $color-light;
    }
}
