%button-reset {
    display: block;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: 0;
}

%button {
    @extend %button-reset, %text-heading-default;
    line-height: $logo-height;
    text-align: center;

    &:hover,
    &:focus {
        background: $color-light;
    }

    &:disabled {
        color: $color-neutral;
    }
}

%form-field {
    display: block;
    width: 100%;
    padding: 0 ($vu/2);
    height: $line-height-default;
    border: $border-default;

    &:hover,
    &:focus {
        /* */
    }

    &:disabled {
        /* */
    }
}
