// paths
$path-fonts: "../fonts";
$path-images: "../images";

// vertical unit
$vu: 10px;

// dimensions, offsets, etc.
$logo-height: 4*$vu;
$slider-size: 7*$vu;
$left-column-width: 20*$vu;
$right-column-width: 28*$vu;

// colors
$color-darkest: #090908;
$color-darker: #26221a;
$color-dark: #403b31;
$color-neutral: #a6a39f;
$color-light: #d9d3c7;
$color-lighter: #f2efe9;
$color-lightest: #fff;

$color-red: red;

// borders
$border-size: 1px;
$border-default: $border-size solid $color-darkest;
$border-light: $border-size solid $color-light;

// radii
$border-radius-default: 4px;
