// paths
$path-fonts: "../fonts";
$path-images: "../images";

// vertical unit
$vu: 10px;

// dimensions, offsets, etc.
$logo-height: 4*$vu;
$condensed-width: 30%;
$condensed-min-width: 400px;

// colors
$color-darkest: #090908;
$color-darker: #26221a;
$color-dark: #403b31;
$color-neutral: #a6a39f;
$color-light: #d9d3c7;
$color-lighter: #f2efe9;
