.ButtonList {
    list-style-type: none;
    display: flex;
    flex-direction: row;

    &-item {
        padding-left: $vu;

        &:first-child {
            padding-left: 0;
        }
    }

    &.ButtonList--stretched {
        .ButtonList-item {
            display: flex;
            flex: 1;
            justify-content: center;
            padding-left: 0;
    
            &:last-child {
                justify-content: flex-end;
            }
    
            &:first-child {
                justify-content: flex-start;
            }
        }
    }
}
