.Button {
    @extend %button;
    padding: 0 2*$vu;
    font-size: $font-size-default;
    line-height: calc(#{$line-height-default} - #{2*$border-size});
    text-transform: none;
    border: $border-default;
}
