.FormField {
    display: flex;
    flex-direction: row;

    &-label {
        @extend %text-body;
        width: 50%;
    }

    &-field {
        @extend %text-body;
        flex: 1;
        padding-left: 2*$vu;
    }
}
