.FormField {
    display: flex;
    flex-direction: row;
    margin-bottom: $vu;

    &-label {
        @extend %text-body;
        width: 50%;
    }

    &-field {
        @extend %text-body;
        flex: 1;
        padding-left: 2*$vu;
    }

    &.FormField--wide {
        flex-direction: column;

        .FormField-label {
            width: 100%;
        }
    
        .FormField-field {
            padding-left: 0;
        }
    }
}
