.FormField {
    display: flex;
    flex-direction: row;
    margin-bottom: $vu;

    &-label {
        @extend %text-body;
        flex: 1;
        padding-right: $vu;
    }

    &-field {
        @extend %text-body;
        position: relative;
        flex: 1;
        padding-left: $vu;
    }

    &.FormField--wide {
        flex-direction: column;

        .FormField-label {
            padding-right: 0;
        }
    
        .FormField-field {
            padding-left: 0;
        }
    }
}
