.Heading {
    @extend %text-heading-default;
    display: flex;
    margin: 2*$vu 0 $vu;

    &-text {
        flex: 1;
    }

    &-extra {
        @extend %text-body;
        padding-left: $vu;
        overflow: hidden;
        font-weight: normal;
        white-space: nowrap;
        vertical-align: middle;
        text-overflow: ellipsis;
    }

    &.Heading--small {
        @extend %text-heading-small;
        margin-bottom: $vu;
    }

    &.Heading--large {
        @extend %text-heading-large;
    }
}
