.Paging {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: $color-neutral;
    margin-top: ($vu/2);

    &-item {
        @extend %text-body;
        color: $color-lighter;

        &:first-child,
        &:last-child {
            flex: 1;
            display: flex;
            flex-direction: row;
        }

        &:last-child {
            justify-content: flex-end;
        }
    }

    &-pages {
        display: flex;
        flex-direction: row;

        &-item {
            flex: 1;
        }
    }

    &-link {
        @extend %button-reset, %text-body;
        width: 3*$vu;
        color: $color-lighter;
        
        &:hover,
        &:focus {
            background: $color-dark;
        }

        &:disabled {
            color: $color-light;

            &:hover,
            &:focus {
                background: $color-neutral;
            }
        }
    }

    &-active {
        width: 3*$vu;
        text-align: center;
        background: $color-dark;
    }
}
